<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="VATRate" value="0.20"/>
    <add key="smtphost" value="cluster-ab.mailcontrol.com"/>
    <add key="OrdersEmailFrom" value="web@csldual.com"/>
    <add key="LogisticsEmail" value="ravi.gillella@csldual.com"/>
    <add key="EmailCC" value="ravi.gillella@csldual.com"/>
    <add key="legacydb" value="data/csldual_data_file.mdb"/>
    <add key="MaxUploadProductsCount" value="2000"/>
    <!--ORD-41-->
    <add key="LANProducts" value="CS5322-01,CS5333-01,CS5344-01"/>
    <add key="QueueName" value=".\private$\MSMQARCEmail"/>
    <add key="EmizonQueue" value=".\private$\MSMQEmizonNotifications"/>
    <add key="TeleSalesEmail" value="TeleSales@csldual.com"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="CSL_LoginSystem" connectionString="Data Source=81.138.234.146,9433;Initial Catalog=CSLOrderingTest;User ID=sa;Password=m3g4stream;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ARC_OrderingConnectionString"   connectionString="Data Source=81.138.234.146,9433;Initial Catalog=Dev_ArcOrdering;User ID=sa;Password=m3g4stream;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="CSLOrderingARCBAL.Properties.Settings.ARC_OrderingConnectionString" connectionString="Data Source=81.138.234.146,9433;Initial Catalog=Dev_ArcOrdering;User ID=sa;Password=m3g4stream;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="CSLOrderingARCBAL.Properties.Settings.ARC_Ordering_CopyConnectionString" connectionString="Data Source=172.16.16.20\SQLEXPRESS;Initial Catalog=ARC_Ordering;User ID=sa;Password=m3g4stream" providerName="System.Data.SqlClient" />-->
    <add name="CSL_LoginSystem" connectionString="Data Source=172.16.16.20\SQLEXPRESS;Initial Catalog=CSLOrdering;User ID=sa;Password=m3g4stream;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="ARC_OrderingConnectionString" connectionString="Data Source=172.16.16.20\SQLEXPRESS;Initial Catalog=ARC_Ordering;User ID=sa;Password=m3g4stream;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="CSLOrderingARCBAL.Properties.Settings.ARC_OrderingConnectionString" connectionString="Data Source=172.16.16.20\SQLEXPRESS;Initial Catalog=ARC_Ordering;User ID=sa;Password=m3g4stream;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <customErrors mode="Off">
      <error redirect="~/ErrorPage.aspx" statusCode="502"/>
      <error statusCode="404" redirect="~/login.aspx"/>
    </customErrors>
    <!--<identity impersonate="true" />-->
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name=".ASPNET" timeout="2880"/>
    </authentication>
    <authorization>
      <allow roles="ARCWebSite_Admin,ARCWebSite_SuperAdmin,ARC_Admin,ARC_Manager,ARCPortalAdmin,ARCPortalReports,ARCPortalUsers"/>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="CSL_LoginSystem" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="CSLWeb" passwordFormat="Clear"/>
      </providers>
    </membership>
    <profile automaticSaveEnabled="true" defaultProvider="SqlProvider" enabled="false">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CSL_LoginSystem" applicationName="CSLWeb"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="CSL_LoginSystem" applicationName="CSLWeb" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="CSLWeb" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <pages maintainScrollPositionOnPostBack="true" validateRequest="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="web@csldual.com">
        <!--<network host="cluster-ab.mailcontrol.com" password="mumba1" userName="administrator@87.84.219.35.co.uk"/>-->
        <network host="dualcomexg01.dualcom.co.uk"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="ARCWebSite_Admin,ARCWebSite_SuperAdmin"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>