<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table border="0" cellspacing="0" cellpadding="0" style="width:800px; padding:10px; margin: 0 auto; font: normal 10px/auto arial, verdana, tahoma;">
        <tr>
            <td>
                <div style="width:100%; height: auto;position: relative; float: left;">
                    <img src="http://ordering.csldual.com/Images/Reconnection-Disconnection-Upgrade-Downgrade_for_ordering_800x125.png" alt="CSL - Request Confirmation" />
                </div>
            </td>
        </tr>
        <tr><td height="20px;"></td></tr>
        <!--<tr><td style="font-size:18px;"><h3 style="font-size: 13px; text-align: left; margin: 0; padding: 5px auto;">Request Confirmation</h3></td></tr>-->
        <tr><td height="10px;"></td></tr>
        <tr style="background: #fff;">
            <td style="padding: 0 auto">
                <div style="width: 100%; margin: 0; padding: 0;">
                    <table border="0" cellpadding="5" cellspacing="0" style="width:100%">
                        <tr>
                            <td style="color: #888;">User Name</td>
                            <td>:</td>
                            <td><font color="#888" size="2" face="Arial">{UserName} </font></td>
                        </tr>
                        <tr>
                            <td style="color: #888;">Arc Name</td>
                            <td>:</td>
                            <td><font color="#888" size="2" face="Arial">{ArcName} </font></td>
                        </tr>
                        <tr>
                            <td style="color: #888;">User Email</td>
                            <td>:</td>
                            <td><font color="#888" size="2" face="Arial">{UserEmail} </font></td>
                        </tr>
                        <tr>
                            <td style="color: #888;">Date of Request</td>
                            <td>:</td>
                            <td><font color="#888" size="2" face="Arial">{DateofRequest} </font></td>
                        </tr>

                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr style="background: #fff;">
            <td style="color:#888;"><u>Request Details</u></td>
        </tr>
        <tr style="background: #fff;">
            <td colspan="2">
                <div style="width: 100%; margin: 10px 0; padding: 0;">
                    {Devicelist}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="width:800px; height: auto; position: relative; float: left;">
                    <div style="width: 380px; float: left; padding: 0 5px 0 0; font-size: 11px;">
                        <div style="font: normal 10px Arial,Verdana,Franklin Gothic Book, Helvetica, sans-serif; padding: 10px;">
                            CSL DualCom Limited<br />
                            Salamander Quay West, Park Lane, Harefield,<br />
                            Middlesex, UB9 6NZ, UK<br />
                            Tel: +44 (0)1895 474 474   Fax: +44 (0)1895 474 440<br />
                            Email: <a href="mailto:orders@csldual.com">orders@csldual.com</a><br />
                            <span style="font-size: 11px;  font-size: 11px;">Registered in England No. 03155883</span>
                        </div>
                    </div>                   
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
