<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSLOrderingARCBAL.Properties.Settings.ARC_OrderingConnectionString"
            connectionString="Data Source=84.9.219.170,9433;Initial Catalog=ARC_Ordering;User ID=sa;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
